@font-face {
    font-family: "SST W20 Bold";
    src: url("../fonts/SST-W20-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "SST W20 Roman";
    src: url("../fonts/SST-W20-Roma.woff2") format("woff2");
}
$SST-Roman: "SST W20 Roman";
$SST-Bold: "SST W20 Bold";